#
#  Custom config file for using GNU make AND GNU compilers
#

# Set the core PROJECT_ variables from their XIL forms
PROJECT_ROOT=$(XIL_ROOT)
PROJECT_TOOLS = $(XIL_ROOT)/tools

#
#  GNU make does not set these so we need to...
#
#TARGET_ARCH=-sparc
#HOST_ARCH=-sparc

#  Should use the uname command, but this takes too long.
#
#  TODO: Figure out how to set these faster 
#
TARGET_ARCH=-$(shell uname -p)
HOST_ARCH=-$(shell uname -p)

#
#  GNU Make doesn't know about .WAIT
#
.WAIT:

# Need host architecture for variable names below
HOST_ARCH_NAME=$(HOST_ARCH:-%=%)

# OS description
CONFIG.$(HOST_ARCH_NAME).OS = $(CONFIG_DIR)/os/SunOS5.cfg

# Compiler config file
# You may also want to specify where the compiler resides here.
##
##  FOR GNU's C++ compiler Support
##
CC_DIR=/usr/sfw
CC_VERS=bin
CONFIG.$(HOST_ARCH_NAME).CC	 = $(CONFIG_DIR)/compilers/SunOS5-GCC.cfg

# The following line provides an alternate C compiler as opposed to C++
# It must explicitly included when needed ( include $(CONFIG.$(HOST_ARCH_NAME).C) )
# Look at the Makefile for libvff as an example
CONFIG.$(HOST_ARCH_NAME).C   = $(CONFIG_DIR)/compilers/SunOS5-GCC.cfg

CONFIG.$(HOST_ARCH_NAME).PROJECT = $(CONFIG_DIR)/custom/XIL.cfg

# Following filei is included at end of 'leaf.cfg'
CONFIG.$(HOST_ARCH_NAME).OVERRIDES = /dev/null

# Where XIL will be installed *officially*
# Should be rarely, if ever, changed.
# May be used by some compiler config files to set library 
# searchpoints within the .so itself.
CONFIG.$(HOST_ARCH_NAME).OFFICIAL.INSTALL.POINT=${XIL_HOME}/lib
CONFIG.$(HOST_ARCH_NAME).OFFICIAL.UTILS.INSTALL.POINT=${XIL_HOME}/utils

##
##  Setup the special library that contains the PIC compiled versions of 
##  new/delete and new[]/delete[].
##
CPLUSPLUSLIB_A=/pkg/gnu/lib/gcc-lib/sparc-sun-solaris2.6/2.95.2/libgcc.a
CPLUSPLUSLIB_A=/usr/sfw/lib/gcc/sparc-sun-solaris2.10/3.4.3/libgcc.a
CPLUSPLUSLIB_A=-lstdc++

#
# Some Platform-Specific Definitions go here...
#
OPENWINHOME= /usr/openwin
SPECIAL_CCPIECES=GNUTemplates
LINK_threads=    -lpthread
THREAD_DEFINES= -D_XIL_USE_PTHREADS
OWCONFIG_LIB= -lowconfig
XMU_LIB= -lXmu
TNF_PROBE_DEFINES= -D_XIL_ENABLE_PROBES
XIL_DEFINES= -D_XIL_HAS_X11WINDOWS -D_XIL_HAS_LIBDGA -DSOLARIS
XIL_DATA_DIR = $(XIL_ROOT)/data
XIL_PLATFORM_SPECIFIC_DIR = /usr/openwin/platform/\$$PLATFORM/xil

#
#  Indicate whether to use floating point tables to convert from 
#  BYTE->FLOAT and from SHORT->FLOAT.  On SPARC, it's much faster
#  than casting.
#
SPECIAL_sparc_XIL_DEFINES= -D_XIL_USE_TABLE_FLT_CNV
SPECIAL_i386_XIL_DEFINES=
SPECIAL_ppc_XIL_DEFINES=
XIL_DEFINES += $(SPECIAL_$(TARCH)_XIL_DEFINES)

SHELL = /usr/bin/bash
